* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  /* added the basic css reset */
  /* changed the basic css reset */

  body {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslateblue;
    background-color: lightcoral;
    
  /* changed the font and added a background color and font color*/





