* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* changed h2 font family */
/* added a underline decoration */
h2 {
  font-size: 50px;
  text-decoration: dashed underline;
  padding: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

h3 {
  font-size: 24px;
  padding-bottom: 10px;
}

p {
  font-size: 26px;
}

/* added a hover over links */
a:hover {
  background-color: slateblue;
}

/* styled my li items */
li {
  padding: 4px;
  font-size: 14px;
  margin-left: 24px;
  list-style-type: square;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: darkslateblue;
}

/* changed the font and added a background color and font color*/
/* took out the background color */

.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: orchid;
  color: black;
}

.header h1 {
  font-size: 54px;
  text-align: center;
}

/* centered the h1 */

.header nav {
  padding-top: 15px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  margin-left: 40px;
}

.me {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: pink;
  color: purple;
}

.me img {
  flex: 1 0 10%;
  max-height: 200px;
  order: 2;
  padding: 10px;
}

.me p {
  flex: 1 0 70%;
  order: 1;
  padding: 10px;
}

/* added in code to get my image next to my paragraph */

/* styled portfolio class items */
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-items article {
  width: calc(50% - 40px);
  margin: 20px;
}

.portfolio-items article:first-child {
  width: calc(100% - 40px);
}

.portfolio-items article img {
  width: 100%;
}

.portfolio-items article a {
  display: flex;
  width: 100%;
  align-items: center;
  border: 4px solid black;
}

/* added more media queries */
@media screen and (max-width:768px) {
  .header {
    background-color: rgb(205, 154, 205);
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

/* added media queries */
@media screen and (max-width:480px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: lightskyblue;
  }

  .header nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 20px;
   }

  .me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: purple;
    color: black;
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 28px;
    color: black;
  }



}